{# Footer with links, social media, and newsletter #}
<footer class="py-5">
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">
          <img src="images/logo.svg" width="240" height="70" alt="Organic">
          <div class="social-links mt-3">
            <ul class="d-flex list-unstyled gap-2">
              <li><a href="#" class="btn btn-outline-light"><svg width="16" height="16"><use xlink:href="#facebook"></use></svg></a></li>
              <li><a href="#" class="btn btn-outline-light"><svg width="16" height="16"><use xlink:href="#twitter"></use></svg></a></li>
              <li><a href="#" cl ass="btn btn-outline-light"><svg width="16" height="16"><use xlink:href="#youtube"></use></svg></a></li>
              <li><a href="#" class="btn btn-outline-light"><svg width="16" height="16"><use xlink:href="#instagram"></use></svg></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Organic</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item"><a href="#" class="nav-link">Sobre Nosotros</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Condiciones</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Blog</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Trabaja con Nosotros</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Enlaces Rápidos</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item"><a href="#" class="nav-link">Ofertas</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Cupones</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Tiendas</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Seguir Pedido</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Atención al Cliente</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item"><a href="#" class="nav-link">FAQ</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Contacto</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Política de Privacidad</a></li>
            <li class="menu-item"><a href="#" class="nav-link">Devoluciones</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Suscríbete</h5>
          <p>Recibe nuestras ofertas y novedades.</p>
          <form class="d-flex mt-3 gap-0" action="/" method="post">
            <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="Tu Email" aria-label="Email">
            <button class="btn btn-dark rounded-end rounded-0" type="submit">Suscribir</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</footer>
<div id="footer-bottom">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6 copyright">
        <p>© 2024 Organic. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 credit-link text-start text-md-end">
        <p>Proyecto de Symfony</p>
      </div>
    </div>
  </div>
</div>
